.download-app {
  background-color: $dark-bg;
}

.download-app__wrapper {
  padding: 30px 20px;
}

.download-app__info {
  font-family: $light-font;
  font-weight: lighter;
  font-size: 14px;
  line-height: 24px;
  color: white;
}
