.editor {
  text-align: center;
}

.editor__intro {
  padding: 30px 20px 50px;
  display: block;

  font-family: $main-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $blue-color;

  background-color: white;
}

.editor__wrapper {
  background-color: $grey-bg;
}

.editor__tools {
  padding: 20px;
}

.editor__img-wrapper {
  padding: 20px;
}

.editor__img {
  display: block;
  margin: auto;
}

.editor__tools-list {
  padding: 0 30px 20px;
}

.editor__scale {
  padding: 10px;
}

.editor__controls {
  padding-top: 35px;
  padding-bottom: 15px;
}

.editor__control-btn {
  display: block;
  margin: 5px auto;
}

@media (min-width: $tablet-width) {
  .editor__wrapper {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .editor__wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
  }
}
