.page-main__intro {
  padding: 30px 20px 0;

  background: $dark-bg url('../img/bg-back-mobile@1x.jpg') no-repeat 50% 0;
}

.page-main__slogan,
.page-main__title {
  font-family: $light-font;
  font-weight: lighter;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: white;
}

.page-main__slogan {
  display: block;
  padding: 30px;
}

.page-main__title {
  margin: 0;
  padding: 50px 30px 60px;
}
