.page-footer {
  margin: 20px;
  padding: 20px;

  text-align: center;

  background-color: white;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    justify-content: space-around;
  }
}
