.page-header {
  background: $dark-bg url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0;
}

.page-header__navigation {
  position: relative;

  min-height: 65px;

  background-color: $header-bg;
}

.page-header--nojs {
  & .page-header__navigation {
    position: static;
  }

  & .page-header__wrapper {
    position: relative;
  }
}

.page-header__wrapper {
  width: 280px;
  margin: 0 auto;
  //display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 321px) {
  .page-header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .page-header__navigation {
    min-height: 110px;
  }

  .page-header__wrapper {
    width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .page-header__wrapper {
    width: 960px;
  }
}
