.plans {
  background-color: $grey-bg;
}

.plans__wrapper {
  overflow: hidden;
}

.plans__list {
  width: 840px;
  margin: 0 auto;
  padding: 40px 20px;

  transform: translateX(-180px);
}

.plans__list thead {
  background-color: $blue-color;
}

.plans__list tbody {
  background-color: white;
}

.plans__title {
  padding: 20px;

  font-family: $bold-font;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: white;
}

.plans__price {
  font-family: $light-font;
  font-weight: lighter;
  font-size: 24px;
}

.plans__field {
  width: 280px;
  padding: 20px;

  font-family: $main-font;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $blue-color;
}

@media (min-width: $tablet-width) {
  .plans__list {
    width: 620px;

    transform: none;
  }

  .plans__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .plans__list {
    width: 940px;
  }
}
