.user-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 320px;

  color: $blue-color;

  list-style: none;
}

.user-photo__item {
  margin: 20px 10px;

  width: 280px;

  background-color: $grey-bg;
}

.user-photo__item:first-child {
  width: 100%;
}

.user-photo__wrapper {
  padding: 20px;
}

.user-photo__name {
  font-family: $bold-font;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.user-photo__time {
  font-family: $light-font;
  font-weight: lighter;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.user-photo__text {
  margin: 0;
  padding: 0;

  font-family: $main-font;
  font-size: 14px;
  line-height: 24px;
}

.user-photo__like {
  font-family: $main-font;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $pink-color;
}

@media (min-width: $tablet-width) {
  .user-photo {
    width: 660px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .user-photo__item {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .user-photo {
    width: 960px;
  }
}
