@fontface {
  font-family: 'Open Sans';
  src: local('OpenSansRegular'),
      url('../fonts/opensans.woff2') format('woff2'),
      url('../fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@fontface {
  font-family: 'Open Sans Bold';
  src: local('OpenSansBold'),
      url('../fonts/opensansbold.woff2') format('woff2'),
      url('../fonts/opensansbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@fontface {
  font-family: 'Open Sans Light';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
      url('../fonts/opensanslight.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}
