$main-font: Open Sans, Arial, sans-serif;
$bold-font: Open Sans Bold, Arial, sans-serif;
$light-font: Open Sans Light, Arial, sans-serif;

$header-bg: rgba(#000000, .3);
$dark-bg: #1d2632;
$grey-bg: #f2f2f2;
$blue-color: #283645;
$pink-color: #d22856;
$green-color: #2aab6c;

.btn {
  font-family: $bold-font;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}
