$main-font: "Open Sans", "Arial", "sans-serif";
$bold-font: "Open Sans Bold", "Arial", "sans-serif";
$light-font: "Open Sans Light", "Arial", "sans-serif";

$header-bg: rgba(#000000, 0.3);
$dark-bg: #1d2632;
$grey-bg: #f2f2f2;
$blue-color: #283645;
$pink-color: #d22856;
$green-color: #2aab6c;

$tablet-width: 660px;
$desktop-width: 1200px;

body {
  margin: 0;

  font-family: $main-font;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
